
.PaletteColor {
	width: 100%;
	height: calc(100% - 4px);
	padding: 2px 0px 0px 0px;
	margin: 0px;

	> input {
		border: 2px solid;
		width: calc(100% - 8px);
		height: 0px;
		margin: 0px;
		padding: calc(100% - 8px) 0px 0px 0px;
	}
}
