
.SideMenu {
	display: grid;
	grid-template-rows: fit-content(100%) auto;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 260px;
	z-index: 200;
	text-align: center;

	> .ToolButtons {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: minmax(0, 1fr);
		gap: 4px;
		margin: 4px;
	}
}
