
.ToolButton {
	padding-top: 100% !important;

	&.Active {
		border: 2px solid;
		border-color: var(--theme-secondary-main);

		&:hover {
			border-color: var(--theme-secondary-main);
		}
	}

	&:hover {
		border: 2px solid var(--theme-secondary-dark);
	}

	> div {
		display: flex;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		justify-content: center;
		align-items: center;
		background-color: var(--theme-primary-main);

		&:hover {
			background-color: var(--theme-primary-dark)
		}
	}
}
