
* {
	font-family: Arial, Helvetica, sans-serif;
	color: #79c0ff;
	overflow: hidden;
}

html, body {
	margin: 0px;
	padding: 0px;
}

hr {
	border: 2px solid #1f2f46;
}

input[type=button] {
	background-color: #1f2f46;
	border: 1px solid #79c0ff;
	color: #79c0ff;
}

.input {
	margin-top: 8px;
	margin-bottom: 8px;
}

.input input[type=button] {
	width: calc(100% - 26px);
}

.tile-pointer {
	pointer-events: all;
}

.pointer-events-none {
	pointer-events: none;
}

.grid
{
	background-color: #0e0e10;
}

.side-panel
{
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 260px;
	background-color: #1a212d;
	z-index: 200;
	text-align: center;
	overflow: auto;
}

.tools
{
	width: 100%;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.tool
{
	flex: 1;
	width: 46px;
	height: 46px;
	text-align: center;
	padding: 0px;
	background-color: #1f2f46;
	border: none;
	margin: 4px;
	cursor: pointer;
}

.tool:focus {
	outline: 0;
}

.active-tool {
	border: 1px solid #79c0ff !important;
}

.all-tool-properties {
	flex: 1;
	overflow: auto;
	background-color: #1f2f46;
}

.tool-properties {
	padding-top: 16px;
}

.tool-title {
	font-size: 1.2em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 8px;
}

.brush-tiles
{
	text-align: center;
}

.brush-tiles > svg
{
	padding: 0px;
	margin: 4px;
	border: 4px solid transparent;
	cursor: pointer;
}

.selected-tile
{
	background-color: #79c0ff !important;
	border: 4px solid #79c0ff !important;
}

.palette
{
	text-align: center;
}

.palette-color {
	width: 36px;
	height: 40px;
	text-align: center;
	padding: 0px 2px 0px 2px;
	background-color: transparent;
	border: none;
	margin: 0px;
	cursor: pointer;
}

.palette-color:focus {
	outline: 0;
}

.add-palette-color {
	display: inline-block;
	width: 28px;
	height: 30px;
	text-align: center;
	font-size: 1.8em;
	background-color: #1f2f46;
	border: 1px solid #79c0ff;
	padding: 0px 2px 0px 2px;
	margin: 0px 4px 4px 4px;
	cursor: pointer;
}

.add-palette-color:focus {
	outline: 0;
}

.selected-palette-color
{
	background-color: #79c0ff;
}

.tile-ghost {
	position: fixed;
	z-index: 100;
	pointer-events: none !important;
	filter: drop-shadow(-1px -1px 1px black) drop-shadow(1px 1px 1px black) drop-shadow(1px -1px 1px black) drop-shadow(-1px 1px 1px black);
}

.tile-ghost * {
	pointer-events: none !important;
}
